.carouselContainer {
  width: 100%;
  height: 250px;
  display: flex;
}

.carouselWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.carouselContentWrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselContent {
  transition: all .6s linear;
  display: flex;
  height: 100%;
  width: 100%;
  pointer-events: auto;
  position: relative;
}

.carouselContent>* {
  flex-shrink: 0;
  flex-grow: 1;
}

.leftArrow,
.rightArrow {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;
  height: 24px;
  z-index: 100;
  bottom: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.73);
}

.navArrows {
  position: absolute;
  display: flex;
  bottom: 5%;
  right: 25%;
}

.leftArrow {
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: ease-out 0.4s;
}


.rightArrow {
  align-items: center;
  right: 20px;
  cursor: pointer;
  transition: ease-in 0.4s;
}


@media screen and (max-width: 992px) {

  .leftArrow,
  .rightArrow {
    width: 20px;
  }

  .leftArrow {
    left: 10px;
  }

  .leftArrow:hover {
    left: 0px;
  }

  .rightArrow {
    right: 10px;
  }

  .rightArrow:hover {
    right: 0px;
  }
}